<% if @current_user %>

Welcome back <%=  %>

<h1>WELCOME TO DRAWSOME, GET READY TO HAVE THE DRAWIEST TIME OF YOUR LIFE.</h1>

<div id="main">

</div>


<% else %>

<h1> Please sign-in to take part in the drawesomeness that is drawesome.</h1>

<% end %>

<script id="preGameTemplate" type="template/text">
  <div id="waitingView">
    WAITING TO PLAY
    <div id="playerTiles"></div>
	<button id="playerReady" class="btn startBtn ready"> Ready </button>
	<button id="playerCancel" class="btn startBtn hidden">Cancel</button>
  </div>
</script>

<script id="preGamePlayerTemplate" type="template/text">
<div>
	<section style="display: inline-block" id="playerName">{{username}}</section> is <section style="display: inline-block" id="playerState">{{state}}</section>
</div>
</script>

<script id="chatBoxTemplate" type="text/template">
  <div id="chatbox" class="chatWrapper">
    <h1>Chat</h1>
    <div id="messageDisplay">
    </div>
    <div id="chatMsgSubmit" class="chatBoxSubmission">
      <input id="messageField" type="text" placeholder="lets chat" autofocus>
      <button type="submit" id="chat">Chat</button>
    </div>
  </div>
</script>

<script id="canvasTemplate" type="template/text">
	<canvas id="drawsomeCanv" class="canvas"></canvas>
</script>


<script id="guessSubmitTemplate" type="text/template">
  <div id="guessSubmit" class="chatBoxSubmission">
    <input id="guess" type="text" placeholder="submitguess">
    <button type="submit" id="submitresult">Submit</button>
  </div>
</script>

<script id="drawerToolsTemplate"  type="template/text">
<div id="drawerTools" class="toolsWrap">
	<div class="color black"></div>
	<div class="color green"></div>
	<div class="color red"></div>	
	<div class="color blue"></div>
	<input id="strokeWidth" type="range" min="1" value="1" max="10">
</div>
</script>

<script id="guesserTemplate" type="template/text">
</script>

<script id="drawerTemplate" type="template/text">
</script>

<script id="wordRd" type="template/text">
</script>

<script id="chatBoxTemplate" type="template/text">
	<div class="chatBoxWrapper">
		<div class="chatBox"></div>
		<textarea class="typeBox"></textarea>
	</div>
</script>
<script id="scoresListTemplate" type="template/text">
	<div class="modalWrap">
		<div id="roundSummary" class="modal">
			<div id="scoresList" class="wrapper">

			</div>
		</div>
	</div>
</script>
<script id="scoreTileTemplate" type="template/text">
	<div class="scoreTiles">
		<section>{{username}}</section>
		<section>{{guess}}</section>
		<section>{{score}}</section>
	</div>
</script>




