<% if user_signed_in? %>

Welcome back <%=  %>

<h1>WELCOME TO DRAWSOME, GET READY TO HAVE THE DRAWIEST TIME OF YOUR LIFE.</h1>

<div id="main">
  <div id="waitingSpace">
    WAITING TO PLAY
  </div>
</div>

<% else %>

<h1> Please sign-in to take part in the drawesomeness that is drawesome.</h1>

<% end %>