<!-- Temporary styling -->
<style>
	#drawsomeCanv {
		border: 1px solid black;
	}

	.color {
		height: 25px;
		width: 25px;
		border: 1px solid black;
		display: inline-block;
	}

	.black {
		background-color: black;
	}

	.green {
		background-color: green;
	}

	.red {
		background-color: red;
	}

	.blue {
		background-color: blue;
	}

	#strokeWidth {
		display: block;
	}
</style>

<% if @current_user %>

Welcome back <%=  %>

<h1>WELCOME TO DRAWSOME, GET READY TO HAVE THE DRAWIEST TIME OF YOUR LIFE.</h1>

<div id="main">

</div>


<% else %>

<h1> Please sign-in to take part in the drawesomeness that is drawesome.</h1>

<% end %>

<script id="preGameTemplate" type="template/text">
  <div id="waitingView">
    WAITING TO PLAY
    <div id="playerTiles"></div>
	<button id="playerReady" class="btn startBtn ready"> Ready </button>
	<button id="playerCancel" class="btn startBtn hidden">Cancel</button>
  </div>
</script>

<script id="preGamePlayerTemplate" type="template/text">
<div>
	<section style="display: inline-block" id="playerName">{{username}}</section> is <section style="display: inline-block" id="playerState">{{state}}</section>
</div>
</script>
<script id="canvasTemplate" type="template/text">
	<canvas id="drawsomeCanv"></canvas>
	<div class="color black"></div>
	<div class="color green"></div>
	<div class="color red"></div>	
	<div class="color blue"></div>
	<input id="strokeWidth" type="range" min="1" value="1" max="10">
</script>

<script id="guesserTemplate" type="template/text">
</script>

<script id="drawerTemplate" type="template/text">
</script>

<script id="wordRd" type="template/text">
</script>

<script id="chatBoxTemplate" type="template/text">
	<div class="chatBoxWrapper">
		<div class="chatBox"></div>
		<textarea class="typeBox"></textarea>
	</div>
</script>

<script id="eventAlerts" type="template/text">	
</script>



