<style>
  canvas {
    border: 1px solid black;
  }
</style>

<h1> Canvas Demo </h1>
<div id="canvas_area">
  <canvas id ="mainCanvas" width="400px" height="400px">
     Your browser does not support the HTML5 canvas tag.
  </canvas>
</div>
<input id="drawing" type="checkbox">I'm Drawing