<style>
  
</style>

<div id="controls">
  <input type="text" id="player">
  <button id="addPlayer">Add Player</button>
  <button id="removePlayer">Remove Player</button>
</div>

<h1>Current Players:</h1>
<ul id="players"></ul>

<div id="drawingGive"></div>