<h1>This page is a test for determining assignment of player turn.</h1>

<div id="miketest">
  
<div id="playerTiles"></div>

<button id="assignRoles">Assign Role</button>
<button id="resetRoles">Reset Roles</button>
<br> <br>
<input id="guessField" type="text">
<button id="guessButton">Submit a guess</button>
</div>