<style>
  body {
    text-align: center;
  }

  #messages{
    width: 600px;
  }
  #message ,#guess{
   width: 500px; 
   display:block;
  }

  #messages {
    border: 1px solid black;
    height: 500px;
    margin: 0 auto;
    text-align: left;
    overflow: scroll;
  }
</style>
<script id="chatBoxTemplate" type="text/template">
  <div id="chatbox" class="chat-wrapper">
    <h1>Chat</h1>
    <div id="messages">
    </div>
    <div id="chatMsgSubmit" class="chatBoxSubmission">
      <input id="message" type="text" placeholder="lets chat" autofocus>
      <button type="submit" id="chat">Chat</button>
    </div>
  </div>
</script>


<script id="guessSubmitTemplate" type="text/template">
  <div id="guessSubmit" class="chatBoxSubmission">
    <input id="guess" type="text" placeholder="submitguess">
    <button type="submit" id="submitresult">Submit</button>
  </div>
</script>

