<style>
  body {
    text-align: center;
  }

  #messages{
    width: 600px;
  }
  #message ,#guess{
   width: 500px; 
   display:block;
  }

  #messages {
    border: 1px solid black;
    height: 500px;
    margin: 0 auto;
    text-align: left;
    overflow: scroll;
  }
</style>

<h1>Live Chat via Sockets</h1>
<div id="messages">
</div>
<input id="message" type="text" placeholder="lets chat" autofocus>
<button type="submit" id="chat">Chat</button>
<input id="guess" type="text" placeholder="submitguess">
<button type="submit" id="submitresult">Submit</button>
