//TEMPORARY STYLING FOR COLORS
@import 'utilities.scss';
$toolSize: 50px;
$inUseToolSize: 100px;
.tool {
	height: $toolSize;
	width: $toolSize;
	border: 1px solid black;
	display: block;
	cursor:pointer;
	margin: 10px auto;
}
.color{
	@extend .tool;
}
.inUse{
	border: 4px solid black;
}
.black {
	background-color: black;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}

#strokeWidth {
	display: block;
}

.canvas{
	z-index:0;
	background: #lightBorderGrey;
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	// border:5px solid $lightBorderGrey;
}
.canvas[resize]{
	width: 100%;
	height: 100%;
}
.guessCanvas{
	z-index:-500;
}


.toolsWrap{
	padding:0 10px;
	z-index:200;
	position:absolute;
	top:20px;
	left:0;
	background: #aaa;
}
