// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'utilities.scss';
*{
	box-sizing: border-box;
}
#drawsomeCanv{
	width: 100%;
	height:100%;
}
.container{
	max-width: 960px;
	padding:0 30px;
}
.form-wrapper{
	h2{
		margin-top:0px;
	}
}
.btn{
	cursor:pointer;
	-webkit-appearance:none;
	appearance:none;
	border:0px;
	background:$ctaRed;
	padding: 8px 12px;
	border-radius: 5px;
	text-transform: uppercase;
	transition: background .2s, color .2s;
	&:hover{
		background:$teal;
		color: $white;
	}
}
form{
	input{
		display:block;
		margin-bottom:12px;
		border:1px solid $lightBorderGrey;
		transition: background .4s;
		&:focus{
			outline:0;
			background: $inputFocus;
		}
	}
}
.field{
	margin-bottom:0px;
	input{
		max-width:540px;
		width:100%;
	}
}