// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'utilities.scss';
*{
	box-sizing: border-box;
}
.login-wrapper{
	h2{
		margin-top:0px;
	}
}
.btn{
	-webkit-appearance:none;
	appearance:none;
	border:0px;
	padding: 8px 12px;
	border-radius: 5px;
	text-transform: uppercase;
	transition: background .2s;
	&:hover{
		background:$teal;
	}
}
form{
	input{
		display:block;
		margin-bottom:12px;
		border:1px solid $lightBorderGrey;
		transition: background .4s;
		&:focus{
			outline:0;
			background: $inputFocus;
		}
	}
}