// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'utilities.scss';
body{
	height: 100vh;
	background-image: url('swirl_pattern.png');
	background-repeat: repeat;
}
button{
	border:0px;
}
button:disabled{
	border:0px;
}
.progress{
	margin:0px;
}
.container{
	max-width: 960px;
	padding:0 30px;
}
#main{

	height: -webkit-calc(100% - 70px);
	position:relative; //This could cause z-indexing issues with canvas and chat. 
}

.waitingViewWrapper{
	height:100%;
	padding-top: 60px;
	.content{
		background: $white;
		padding:12px 30px;
		border:1px solid #aaa; // placeholder color;
		h2{
			text-align:center;
		}
	}
	.list-container{
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.playerTile{
		&:first-child{
			border-top:1px solid #aaa;
		}
		font-size: 15px;
		font-weight: 400px;
		text-transform: uppercase;
		color: #aaa; //placeholder
		width: 100%; 
		padding: 30px 12px;
		border-bottom: 1px solid #aaa; //placeholder
		#playerName{
			float:left;

		}
		#playerState{
			float:right;
		}
		.attribute{
			display:inline-block;
		}

	}
}
.hidden{
	display: none !important;
}

*{
	box-sizing: border-box;
}
.navbar-text{
	margin-bottom: 0px;
}
.mainNav{
	padding-top: 25px;
	padding-bottom: 25px;
	background: $white;
	-webkit-box-shadow: -1px 5px 3px -5px $lightBorderGrey;
	-moz-box-shadow: -1px 5px 3px -5px $lightBorderGrey;
	box-shadow: -1px 5px 3px -5px $lightBorderGrey;
}

.form-wrapper{
	h2{
		margin-top:0px;
	}
}

.btn{
	cursor:pointer;
	-webkit-appearance:none;
	appearance:none;
	background: none;
	color: $teal;
	border: 2px solid $teal;
	padding: 25px 0px;
	text-transform: uppercase;
	transition: background .2s, color .2s;
	&:disabled{
		border:none;
		background: $lightBorderGrey;
	}
	&:hover{
		border:2px solid $teal;
		background:$teal;
		color: $white;
	}
	&:focus{
		border:0px;
		outline: none;
		border:2px solid $highlightGreen;
		background: $highlightGreen;
	}
}
.startBtn{
	display:inline-block;
	text-align:center;
	font-size: 18px;
	width: 100%;
	font-weight: 300;
	// max-width: 420px;
	margin-bottom: 25px;
}
form{
	input{
		display:block;
		margin-bottom:12px;
		border:1px solid $lightBorderGrey;
		transition: background .4s;
		&:focus{
			outline:0;
			background: $inputFocus;
		}
	}
}
.field{
	margin-bottom:0px;
	input{
		max-width:540px;
		width:100%;
	}
}