@import 'utilities.scss';
.modalWrap{
	padding: 30px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:5000;
	position:absolute;
	background: $blktransparency80;
}
.rdAnswer{
	text-align:center;
	span{
		text-transform:uppercase;
		color: $ctaRed;
	}
}
.modal{
	padding-top:10px;
	border-radius:5px;
	background: $white;
	vertical-align:middle;
	max-width:640px;
	margin:0 auto;
}

.scoreTiles{
	width: 100%;
	display:table;
	padding:30px;
	text-align:center;
	text-transform:uppercase;
	section{
		display:table-cell;
		width: 30%;
	}
}