@import 'utilities.scss';
.modalWrap{
	padding: 30px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	position:absolute;
	background: $blktransparency80;
}
.modal{
	background: $white;
	vertical-align:middle;
}

.scoreTiles{
		width: 100%;
		display:table;
		padding:30px;
		text-align:center;
		text-transform:uppercase;
	section{
		display:table-cell;
		width: 30%;
	}
}