// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$teal: #22aadd;
$inputFocus: #ffe;
$lightBorderGrey: rgba(199,199,199,1);
$ctaRed: #ff4c4c;
$white: #fff;
$blktransparency80: rgba(0,0,0,.8);
$highlightGreen: #00e7a8;
